 





body{
    
    margin: 0px;
    padding: 0; 
   
    
       
}
/*fontsFamily*/
@font-face {
    font-family: 'SevigneST-Regular';
    src: url(../fonts/Reserves\ -\ SevigneST-Regular.otf);}

 @font-face {
        font-family: 'lowvetica';
        src: url(../fonts/Lowvetica.ttf);}

@font-face {
            font-family: 'kelvetica';
            src: url(../fonts/Kelvetica.ttf);}

            
@font-face {
    font-family: 'avenirm';
    src: url(../fonts/AvenirLTStd-Medium.otf);}

        
@font-face {
                font-family: 'avant';
                src: url(../fonts/AvantGarde-ExtraLight.ttf);}
  
                @font-face {
                    font-family: 'din2';
                    src: url(../fonts/avenirltstd-light.otf);}             
                                                  

                @font-face {
                    font-family: 'grotesk';
                    src: url(../fonts/AlteHaasGroteskRegular.ttf);}
                    
                    
                    @font-face {
                        font-family: 'spinaker';
                        src: url(../fonts/Spinnaker-Regular.ttf);} 
                        
                        @font-face {
                            font-family: 'avenir';
                            src: url(../fonts/avenirltstd-light.otf);} 
                         

                            @font-face {
                                font-family: 'din';
                                src: url(../fonts/avenirltstd-light.otf);}
                             
                        
                                     


              


.headroom{
    display: grid;
    grid-template-areas: "h1 h3 h3 h3";
    position: relative;
    width: 100%;
    height: 100px;
    background-color: rgba(252, 251, 253, 0.904);
    overflow: hidden;
    margin-left: 0px;
    margin-right: 0px;

}


.logoF{
    grid-area: h1;
    display: none;
    position: absolute;
   
}


.logoD{
    grid-area: h1;
  
    background-image: url(../images/lineSvgAnimate4_animated.svg);
    background-repeat: no-repeat;
    width: 100%;
    height: 75%;
    margin-top: 12px;
    margin-left: 5%;
    margin-bottom: 8%;
    font-family: 'SevigneST-Regular';
    position: absolute;




}

.logoD a{
    padding-left:  60px;
    padding-right: 15px;
    padding-top: 20px;
    padding-bottom: 60px;
    


}


.site_nav{
    width: 100%;
    grid-area: h3;
    padding-left: 40px;
    padding-top: 5px;
    position: absolute;
    display: inline-block;
    
   
    
}
.menunav{
    display: inline-block;
    font-family: 'avenirm';
    font-size: 14px;
    margin-top: 25%;
    


    
}

.menunav a{
    color:#262424;
    text-decoration: none;
    font-family: 'avenirm';
    margin-right: 5px;
    font-size: 16px;

}

.menunav a:hover{
    color:#868686;
}


/*headrrom*/
.header--fixed{
    position: fixed;
    z-index: 5;
    right: 0;
    left: 0;
    top: 0px;
}
.headroom {
    will-change: transform;
    transition: transform  255ms ease-in-out 0s;
}
.headroom--pinned {
    
    transform: translateY(0%);
}
.headroom--unpinned {
    
    transform: translateY(-100%);
}

/*END headrrom*/






.scontainer{

    width: 100%;
    height: 600px;
    overflow: hidden;
    margin-top: 100px;
    padding-top: 0px;
    position: relative;                
  
}




.back{
    background: url(../images/contact1920x1230.jpg);
    background-position: center center;
    size: contain;  
    width: 100%;
    height:  600px ;
    overflow: hidden;
    padding-top: 0px;
    position: absolute ; 
           
  
}





.send{
    z-index: 2;
    width: 100%;
    text-align: center;   
    height: auto;  
    position: absolute; 
    margin-top: 50%;
    margin-left: 0;
}






.line{
    
      
    text-align: center;
    width: 1px;
    margin-left: 50%;
    margin-top: 165px;
    height: 50px;
    background: white;
    position: absolute;
    z-index: 2;

}


.tsend{
    margin: 40px;
    font-family: 'avenir';
    font-size: 16px;
    text-align: center;
    margin-bottom: 60px;
    margin-top: 70px;
}
 

.txt1{
    
    color: #fafcf9;
    width: 100%;
    padding-left: 0; 
    font-size: 45px;
    margin-bottom:0;
    text-align: center;
    font-family: 'SevigneST-Regular';


}

.scroll{


    color: #fafcf9;
    height: auto;
    width: 100%;
    padding-left: 0; 
    text-align: center;
    margin-top: 50px;
    z-index: 2;
    position: absolute;


}


.txt2{
   
width: 100%;    
color: #fafcf9;
font-family: 'avenir';
font-size: 16px;

}

.txt1b{
    margin: 0;
    color: #fafcf9;
    width: 100%;
    padding-left: 0; 
    font-size: 45px;
    text-align: center;
    font-family: 'SevigneST-Regular';
}
.input-field.col label {
    color: #000;
}
 



button.btn {
    border: 1px solid;
    background: #ffffff;
    color: #000;
    border-color: black;
    width: 95%;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-top: 30px;
   
}


form.form-consulta{
    margin-left: 20px;
    margin-right: 20px;
}

.btonb {
    margin-left: 25%;
   
}


.butn-form{
    border: 1px solid;
    background: #ffffff;
    color: #000;
    border-color: black;
    width:100%;
    height: 40px;
    margin-top: 20px;
    
}

input.waves-button-input {
    background: black;
    width: 100%;
    height: 100%;
}
.formu{

   position: relative; 
   width: 100%;
   height: 500px;
 
}


.row{

    
    width: 100%;
    height: 100%;
   
}


 
.input.butn-form.col.s4{
    margin-left: 20px;
}



.footcontw{
    margin-left: 0px;
    margin-right: 0px;
}

 
.footcont{

    background: #000000;
    width: 100%;
    height: 500px;
    font-weight: 300;
    display: grid;
    grid-template-areas: "f1"
                         "f2"
                         "f3"
                         "f4";
    overflow: hidden;
    
} 


.footernav{

    width: 100%;
    height: 150px;
    grid-area: f1;     
    text-align: left;
    padding-top: 60px;
    padding-right: 0px;
    padding-bottom: 0px;
    overflow: hidden;
 }
 

 .fp{
    
     padding: 0;
     display: inline;
 }
 
.footernav a{
    
    color: white;
    font-family: 'avenir','avenir2';
    font-size: 16px;
    text-decoration: none;
    margin-left: 20px;
}
 


.footernav2{
    height: 100px;
    grid-area:  f2;  
    text-align: left;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    overflow: hidden;

}



.fp2{
    margin: 0;
    padding: 0;
    display: inline;
}




.footernav2 a{

    color: white;
    font-family: 'avenir','avenir2';
    font-size: 16px;
    text-decoration: none;
    margin-left: 20px;
}



.fotnav2{
    padding: 0;
    margin: 0;
     width: 100%;
     height: 2px;
     margin-top: 50px;
     background: #463939;
}


 .fotnav3{
    
     padding: 0;
     margin: 0;
     width: 100%;
     height: 2px;
     margin-right: 0px;
     margin-top: 50px;
     background: #463939;
 }



.footernav3{
    
    grid-area:  f3; 
    display: inline; 
    padding-top: 0px;
    font-family: 'avenir','avenir2';
    font-size: 16px;
    padding-bottom: 0px;
    padding-right: 25px;
    margin-right: 5px;
}

.fp3{
    margin: 0;
    padding: 0;
    display: inline; 
}


.footernav3 a{
    color: white;
    font-family: 'avenir','avenir2';
    text-align: left;
    font-size: 16px;
    text-decoration: none;
    padding-left: 0px;
    margin-left: 20px;
    margin-top: 10px;
    
}













.fotnav4{
     padding: 0;
     margin: 0;
     height: 2px;
     margin-top: 0px;
     background: #ca2084;   
 }




.footend{
    grid-area:  f4; 
    padding-bottom: 0;
    padding-top: 0;
    background: #463939;
}








.footendtx{

    color: #fafcf9;
    font-family: 'avenir','avenir2';
  
    padding-top: 35px;
    padding-left: 36%;
    margin: 0;
    margin-top: 0px;

}
    

















.sp1366{
    display: none;
}



.sp1920{
    display: none;
}
.sp1980{
    display: none;
}
.sp1280{
    display: none;
}
.sp1020{
    display: none;
}
.sp768{
    display: none;
}

.sp1mob{
    display: none;
}

.footendb{
    display: none;
}
 































@media screen and (min-width: 360px) {  


    .site_nav{
        padding-top: 0px;
        padding-left: 55px;
    }
    .menunav{
        margin-top: 24%;
    }
    .menunav a{
        font-size: 16px;
    }

  
    .scontainer{
        height: 550px;
    }
    
    
    
    .send{
        width: 100%;
        margin-top: 36%;
        margin-left: 0px;
        text-align: center;
    }
    .tsend{
        margin-top: 50px;
        margin-bottom: 50px;
    }
    .line{
        margin-top: 145px;
    }
  

   
  .footendtx{
    padding-left: 130px;
    font-size: 15px;
  }

  .footcontw {
    width: 100%;
  }

  .footernav3{
      margin-right: 60px;
      padding-right: 20px;
  }


}






/*MEDIA Q--------------------------------------------------*/



    



@media screen and (min-width: 375px) {  
   



    .wrapper{
        margin-top: 100px;
    }

    

    .site_nav{
      
        padding-left: 57px;
        padding-top: 0px;
        
        
        
    }
   
    
    .menunav {
        display: inline-block;
        font-family: 'avenirm';
        font-size: 14px;
        margin-top: 24%;
    }


    .logoD{
        margin-left: 10%;
    }
    .send{
        margin-left: 0px;
    }
    
    .tsend{
        margin-left: 40px;
        margin-right: 40px;
    }





  











 
     .footendtx{
 
             padding-left: 120px;
 
      }
 
      
 



 

}


.sp1{
    display: block;

}
.sp1279{
    display: none;
}
.sp1020{
    display: none;
}

.sp1920{
    display: none;
}
 
.sp1mob{
    display: inline;
}









































@media screen and (min-width: 412px){


   
   .site_nav{
       padding-left:  130px;
         
   }





}
 





@media screen and (min-width: 425px){


   
    .site_nav{
        padding-left:  115px;
          
    }

    .menunav{
        margin-top: 27%;
    }

    

    .send{
        margin-top: 30%;
    }
    
 




    .footendtx {
        padding-left: 160px;
    }



    }
 
 
























 
 



























































@media screen and (min-width: 568px) {

          

    .site_nav {
        padding-left: 180px;
    }



    .menunav{
        margin-top: 15%;
    }

    






}

























@media screen and (min-width: 640px) {

.menunav{
    margin-top: 12%;
}
.site_nav{
    padding-left: 220px;
}

.logoF{
    margin-top: 20px;
    margin-left: 15px;
    display: block;
    grid-area: h1;
    background-image: url(../images/logobrand2.svg);
    background-repeat: no-repeat;       
    font-family: 'SevigneST-Regular';  
    width: 150%;
    height: 100%; 
   

}



.scontainer{

    width: 100%;
    height:  600px ;
    overflow: hidden;
    margin-top: 0px;
    padding-top: 0px;
   
                   

    position: relative;                
  

                        
     
}




.back{
    background: url(../images/contact1920x1230.jpg);
    background-position: center center;
    size: cover;  
    
    width: 100%;
    height:  600px ;
    overflow: hidden;
    margin-top: 130px;
    padding-top: 0px;
   
        
    position: relative;                
  
}




.txt1{
    
    color: #fafcf9;
    width: 100%;
    position: relative;



}


 
.txt2{
    text-align: center;
    color: #fafcf9;
    width: 100%;
    font-size: 20px;
    position: relative;



}




.footcont{
    width: 728px;
    height: 160px;
    grid-template-areas: "f1 f2 f3";
    padding-left: 0;
    position: relative;
    overflow: hidden;
    margin: 0;
    padding: 0;
    padding-top: 20px;
}




.footernav{
   
    width: 130px;
    height: 130px;
    grid-area: f1;
    padding: 0;
    margin-left: 80px;
    text-align: left;
    border: solid;
    border-right-color: #4b4040;

}





.fp{

    margin:0;
    padding: 0;
    display: block;
}






.footernav2{
    height: 130px;
    margin: 0;
    width: 130px;
    grid-area: f2;
    padding: 0;
    text-align: left;
    padding-right: 20px;
    margin-left: 30px;
    border: solid;
    border-right-color: #4b4040;
}


.fp2{
    margin:0;
    padding: 0;
    display: block;
}



.footernav3{
    width: 130px;
    height: 130px;
    grid-area: f3;
    margin: 0;
    padding: 0;
    text-align: left;
    padding-right: 0px;
    display: block;
    padding-left: 50px;
    padding-top: 20px;
    
}




.fp3{
    margin:0;
    padding: 0;
    display: block;
    margin-bottom: 10px;
}

.footernav3 a{
    text-align: left;
    margin: 0;
    padding-left: 0px;
}





.footendtxb {
    display: block;
    background: #262424;
    height: 30px;
    color: white;
    margin: 0;
    padding: 0;
    padding-top: 10px;
    padding-left: 43%;
    font-family: 'din';

}



}









































































@media screen and (min-width: 768px) {








    body{
        margin-left: 20px;
        margin-right: 20px;
    }

    .sp1{
        display: none;
    }

    .sp1mob{
        display: none;
        }

        .sp320 {
            display: none;
        }
    .sp768{
        display: block;

    }
    .sp1020{
        display: none;
    }
    .sp1280{
        display: none;
    }
    .sp1366{
        display: none;
    }
    .sp1920{
        display: none;
    }
    .sp1980{
        display: none;
    }


    .fotnav2{
        display: none;
    }
    .fotnav3{
        display: none;
    }
   
   
    .fotnav4{
        display: none;
    }
   
    .footendb{
        display: block;
    }
    
    .footend{
        display: none;
    }
    
   .footendtxb{
       display: none;
   }
   .headroom{
      
    grid-template-areas: "h1 h1 h3";
    height: 110px;
}
 



.site_nav{
  padding-top: 20px;
  padding-left: 30px;
}
.menunav {
    margin-top: 20%;
}

.menunav a{
    font-size: 16px;
    margin-right: 12px;
}




.logoD{
   height: 85%;
   margin-left: 30px;

}

.logoF{
    margin-top: 12px;
    margin-left: 15px;
    display: block;
    grid-area: h1;
    background-image: url(../images/logobrand2.svg);
    background-repeat: no-repeat;       
    font-family: 'SevigneST-Regular';  
    width: 100%;
    height: 85%; 
   

}

   




    
    

    .scontainer{

        width: 100%;
        height:  700px ;
        overflow: hidden;
        margin-top: 0px;
        padding-top: 0px;
       
        position: relative;                
      
    
                            
         
    }
    
   
    
    .back{
        background: url(../images/contact1920x1230.jpg);
        background-position: center center;
        size: cover;  
        width: 100%;
        height:  600px ;
        overflow: hidden;
        margin-top: 130px;
        padding-top: 0px;
        position: absolute ; 
               
      
    }
    
    .row.one{
        padding: 40px;
      
    }
    .send{
        text-align: center;  
         margin-top: 22%; 
    }
    
    .tsend{
        margin-top: 20px;
    }
    .txt1{
        font-size: 65px;
    }

    .line{
        
        
        text-align: center;
        width: 1px;
        margin-left: 50%;
        height: 60px;
        background: white;
        position: absolute;
        z-index: 2;

    }


    
    .txt1{
        
        color: #fafcf9;
        width: 100%;
        padding-left: 0; 
        text-align: center;
       
      
    
    }
    
    .scroll{


        color: #fafcf9;
        width: 100%;
        padding-left: 0; 
        text-align: center;
        margin-top: 30px;

         

    
    }
   

   .txt2{
    margin-top: 70px;
    font-family: 'avenir';
    font-size: 15px;

   }

   button.btn.z-depth-0{
    width: 97%;
    }


   .footcont{
    width: 100%;
    height: 190px;
    display: grid;
    grid-template-columns: 1fr  1fr 1fr;
    grid-template-areas: "f1 f2 f3";
    padding-left: 0;
    position: relative;
    overflow: hidden;
    margin: 0;
    padding: 0;
    padding-top: 20px;
}




.footernav{
   
    width: 100%;
    height: 150px;
    grid-area: f1;
    padding: 0;
    margin-left: 0px;
    text-align: left ;
    padding-left: 40%;
}


.footernav a{
   
}

.footernav2{
    
    margin: 0;
    width: 100%;
    height: 150px;
    grid-area: f2;
    padding: 0;
    text-align: left;
    padding-right: 0px;
    padding-left: 35%;
}




.footernav3{
    width: 100%;
    height: 150px;
    grid-area: f3;
    margin: 0;
    padding: 0;
    text-align: left;
    padding-left: 30%;
    padding-top: 23px;
    
}




.footernav3 a{

    margin: 0;
    padding-left: 0px;
}




.footendtxb {
    display: block;
    background: #262424;
    height: 30px;
    color: white;
    margin: 0;
    padding: 0;
    padding-top: 10px;
    padding-left: 43%;
    font-family: 'din';

}

    
}










     
     

     























































    

@media screen and (min-width: 1024px) {



    body{
        background: transparent;
    }

  
    .headroom{
      
        grid-template-areas: "h1 h1 h3";
        height: 130px;
    }
     

    .site_nav{
      padding-top: 20px;
      padding-left: 70px;
    }
    
    .menunav a{
        font-size: 16px;
    }
    
   
    
    .logoD{
       height: 85%;
       margin-left: 10px;

    }
    
    .logoD a {
        padding-left: 100px;
        padding-right: 25px;
        padding-top: 0px;
        padding-bottom: 100px;
        height: auto;
    }
    

    .logoF{
        margin-top: 12px;
        margin-left: 45px;
        display: block;
        grid-area: h1;
        background-image: url(../images/logobrand2.svg);
        background-repeat: no-repeat;       
        font-family: 'SevigneST-Regular';  
        width: 100%;
        height: 85%; 
       
    
    }



  

    .input-field.col.l6.m6.s12 {
        padding-bottom: 30px;
        padding-top: 0px;
        padding-right: 0;
    }
    
    .input-field.col.s12 {
        padding-right: 0;
    }
   

     
    .row.one {
        padding: 40px;
       
        width: 80%;
    }
    .send{
        margin-top: 0;
    }
    .txt1{
        font-size: 100px;
        margin-top: 200px;
        margin-bottom: 0;
    }

    
   button.btn.z-depth-0{
    width: 20%;
    float: right;
    height: 40px;;
    }

   

    button.btn.z-depth-0:hover{
        background: #000;
        color: #ca2084;
    }
        
 
    .footernav2{
        padding-left: 40%;
    }

    .footendtxb {
        padding-left: 46%;
    }
  
}

    













































@media screen and (min-width: 1279px) {




    .sp1020{
        display: none;
    }
    .sp1280{
        display: inline;
    }

    .headroom{
       
        width: 100%;
        padding-top: 0px;
        margin-left: 0px;
        margin-right: 20px;
        margin-bottom: 20px;
        height: 140px;
    }
    
    .logoD{
        margin-left: 30px;
    }
    
    .logoF{
        margin-left: 20px;
    }
    


    .menunav{
        margin-top: 15%;
        padding-left: 7%;
    }


    .row.one {
        padding: 40px;
        width: 65%;
    }

    .send {
        margin-top: 10px;
    }

 


}









































@media screen and (min-width: 1366px){




    .sp768{
        display: none;
    }

    .sp1020{
        display: none;
    }
    .sp1366{
        display: block;
    }
    .sp1280{
        display: none;
    }


    .send{
        width: 100%;
    }

     
    .row.one{
        width: 100%;
        padding-right: 300px;
        padding-left: 300px;
        padding-bottom: 50px;
        padding-top: 70px;
        
    }
  
    .row.card-panel {
        height: 360px;
       
       
    }

    .input-field.col.l6.m6.s12 {
        padding-bottom: 15px;
    }

    .line {
        margin-top: 128px;
    }

   


}

























































    @media screen and (min-width: 1440px){

        
    


       






        .sp1280{
            display: none;
        }
    
        .sp1020{
            display: none;
        }
        .sp1366{
            display
        }
    
        .sp1920{
            display: none;
        }
    
        .sp1980{
            display: none;
        }
    
      
       
        .headroom{
            width: 100%;
            margin: 0;
            height: 190px;
            padding-top: 20px;
            margin-left: 40px;
            margin-right: 40px;
           
        }
        .site_nav{
            padding-left: 0;
        }
        .menunav{
            padding: 0;
            margin-top: 14%;
            padding-left: 20%;
        }
        .menunav a {
            font-size: 18px;
            font-family: 'avenirm',sans-serif;

        }
    
        .logoF{
            margin-top: 0;
            height: 100%;
            margin-left: 0;
        }
       
        .logoD {
            margin: 0;
            margin-left: 20px;
            height: 70%;
            margin-top: 10px;
        }
       
    


    .scontainer{
        width: 100%;
       
        margin-top: 80px;
        position: relative;
    }


    
    
    



}




































































    















@media screen and (min-width: 1920px){

    


    .sp1280{
        display: none;
    }

    .sp1020{
        display: none;
    }
    

    .sp1920{
        display: none;
    }

    .sp1980{
        display: inline;
    }

  
   

   .headroom{
       width: 100%;
       padding-top: 20px;
       padding-left: 40px;
       margin-right: 0;
       height: 160px;
       margin: 0;
       
   }
   .site_nav{
       padding-top: 33px;
   }

   .menunav{
       padding: 0;
       padding-left: 29%;
       margin-top: 0;
       margin-right: 18px;
       padding-top: 7%;
       
   }
   

   .menunav a{
      font-size: 18px;
     margin-right: 18px;
   }


   .logoD{
    height: 85%;
    margin-left: 20px;
}


   .txt1b {
    font-size: 100px;
   }

   
   .row.one {
    width: 90%;
   }



   
.back{
    background: url(../images/contact1920x1230.jpg);
    background-position: 100% 0%;
    size: contain;  
    width: 100%;
    height:  600px ;
    overflow: hidden;
    padding-top: 0px;
    position: absolute ; 
           
  
}



.footernav{
    padding-left: 45%;
}


.footernav2{
    padding-left: 45%;
}


.footernav3{
    padding-left: 40%;
}

.footendtxb {
    padding-left: 48%;
}



  
}